body {
  font-family: "Open Sans", sans-serif;
  background: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
/* color edits*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .container {
  background: #272424 !important;
}
.container-fluid {
  height: calc(100vh);
  background: #dcdcdc;
}
/*color edits end*/
.editContainer {
  max-width: 1400px;

  padding-top: 5%;
}

.signup-wrapper {
  background: white;
}
.customContainer {
  max-width: 1400px;
  padding-top: 5%;
}

h5.customTitle {
  text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: #080808 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: #080808 !important;
}

nav {
  --bs-nav-link-hover-color: #bfbfbf !important;
}

.nav-link {
  color: #202020 !important;
}

.cycleWrap {
  padding-top: 70px !important;
  padding-left: 130px !important;
  padding-right: 130px !important;
}

button.align-self-center.btn.btn-primary {
  background-color: #302d2d;
  border-radius: 5px !important;
  border-color: #302d2d;
}

.blackBigBtn {
  margin-top: 30px;
}

.form-group.ownerFields label.boldLabel,
.form-group.dateFields label.boldLabel {
  text-align: center !important;
  font-weight: bold;
  padding-bottom: 20px;
}
.form-group.ownerFields label.boldLabel {
  text-align: center !important;
  font-weight: bold;
  padding-top: 30px;
}

.form-group.ownerFields .row .col {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.form-group.dateFields .row .col {
  display: inline-grid;
  grid-template-columns: auto auto;
}
button.btn.btn-dark.plusMember {
  margin-top: 30px;
  background: #4e934e;
  border: 0px solid;
}

.customSubWrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.innerContentWrap {
  margin-left: auto;
  max-width: 800px;
  margin-right: auto;
  padding: 40px;
}

input.btn.btn-dark.createCycle {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 20px; /* background: #4e934e; */
  border: 0px solid;
  width: 100%;
}

.singleOwnerField {
  /* border-radius: 30px; */
  margin-bottom: 10px;
  border-bottom: 2px solid #9393a1;
  padding: 30px;
}

.editContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #212529;
  padding-bottom: 10%;
}
.plusMember {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*might need to change later*/
button.subtask-btn.btn.btn-primary {
  background: #6060b9;
  margin-bottom: 10px;
  margin-top: 10px;
}
.subtask-div input {
  margin-top: 10px;
}

p.main-goal.title {
  font-size: 20px;
  font-weight: 500;
}

.goal-wrapper {
  padding-top: 20px;
}

/*Signup Form*/
form.FormContainer {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
}

h3.mainTitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

/* button.btn.btn-primary:hover {
  background: white;
  color: black;
  transition: 0.3s;
  border: 1px solid black;
} */

/* .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(40 37 41);
} */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.confirmPassword {
  /* margin-bottom: 30px; */
  padding-bottom: 15px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

p.success-message {
  padding-top: 10px;
}
span.navbar-brand img {
  width: 160px;
}
.error-message {
  color: #de204f;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 20px;
}
.changepwdtxt {
  font-size: 13px;
  font-weight: 600;
  padding-top: 20px;
}
.success-message {
  color: #19c02f;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 20px;
}
.signup-wrapper {
  max-width: 336px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
button.fullwidth.btn.btn-primary {
  border-radius: 5px;
  font-family: sans-serif;
  width: 100%;
  background: #302d2d;
  border: 1px solid #302d2d;
}

button.fullwidth.btn.btn-primary:hover {
  background: white;
  color: black;
  transition: 0.3s;
  border: 1px solid black;
}
form.FormContainer img {
  width: 121px;
  display: block;
  margin: auto;
}
.tagline {
  font-size: 13px;
  text-align: center;
}
/*LOGIN*/
/* .FormContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.mainTitle {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.fullwidth {
  width: 100%;
  margin-top: 20px;
} */

.line-breaker p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a09898;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

p span {
  background: #fff;
  padding: 0 10px;
}

input#formBasicPassword2.form-rounded,
input#formBasicPassword.form-rounded,
input#formEmail.form-rounded,
input#formName.form-rounded {
  border-radius: 5px !important;
}

.navbar-default {
  margin: 0 !important;
}

.container-wrapper {
  padding-top: 30px;
  height: 100vh !important;
}

/* .card.h-200.custom-style.card:last-of-type {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.card.h-200.custom-style.card:first-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card.h-200.custom-style.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
} */

/*Overview UIRevamp*/
.custom-style.card:last-of-type {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.custom-style.card:first-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #212529;
}

.custom-style.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: 1px solid #212529;
}

.custom-style.card:hover {
  background-color: #302d2d;
  color: white;
  transition: background-color 0.3s;

  /* Changed transition property to 'background-color 3s' */
}

.custom-Button a {
  font-size: 12px;
  color: #a09898;
  text-decoration: none;
}

.custom-Button img {
  margin-right: 5px;
}
.custom-style.card {
  background: #fefefe;
}
.custom-Button a:hover {
  color: #a09898;
}
.custom-style.card:hover {
  box-shadow: none;
}
.custom-style.last-card.card {
  /* background: red; */
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.d-flex.justify-content-center.wrapper-empty {
  height: 120px;
  border-radius: 6px;
  border: 1px solid black;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Create form*/
.form-group.dateFields {
  text-align: center;
  /* justify-content: center!important; */
}
.form-group.ownerFields {
  text-align: center;
}
input.mainGoal {
  width: 63%;
  border-radius: 6px;
}
input.subTaskField {
  width: 63% !important;
  border-radius: 6px;
}
